#sidebar {
    width: 350px;
    float: left;
    left: 0px;
    height: 100vh;
    z-index: 999;
    background-color: rgb(211, 212, 204);
  
}

#main-container {
    float: right;
    width: 1000px;  
    margin: 20px;
}

.color{
    background-color:#ad6925;
}